language: bash
services: docker

script:
  - |
    (
      echo "$DOCKER_PASS" | docker login -u="$DOCKER_USER" --password-stdin
      # download qemu
      curl -L https://github.com/multiarch/qemu-user-static/releases/download/v3.0.0/qemu-arm-static.tar.gz | tar zxvf - -C .
      # prepare qemu
      docker run --rm --privileged multiarch/qemu-user-static:register --reset
      # build image
      docker build -t davidecavestro/mariadb-arm-stretch --cache-from davidecavestro/mariadb-arm-stretch --build-arg CODE_VERSION=10.3
      # test image
      docker run davidecavestro/mariadb-arm-stretch mysql --version
      # push image

      if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
        TAG=$(grep "ARG MARIADB_VERSION" Dockerfile | awk -F '=' '{print $2}')-travis
        docker tag davidecavestro/mariadb-arm-stretch davidecavestro/mariadb-arm-stretch:$TAG
        docker push davidecavestro/mariadb-arm-stretch:$TAG
      #  docker push davidecavestro/mariadb-arm-stretch
      fi
    )
